/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 2;
}

body {
  background-color: #6d6875;
}

header {
  background-color: #b5838d;
}

nav {
  display: flex;
  flex-flow: row wrap;
  margin-left: 1rem;
}

nav a {
  display: flex;
  font-size: 2rem;
  background: white;
  text-decoration: none;
  color: #8380b6;
  margin-bottom: 1rem;
  width: 12rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  font-family: "Nanum Gothic", sans-serif;
}

.nav-item:hover {
  background: #8380b6;
  color: white;
  font-family: "Nanum Gothic", sans-serif;
}

h1 {
  font-size: 9rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  color: white;
  font-family: "Poiret One", cursive;
  text-align: left;
  letter-spacing: 20px;
  padding: 20px;
  text-shadow: 2px 2px #524f4f;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

h3 {
  font-size: 2rem;
  margin: 2rem 0 0 0;
  text-align: center;
}

a,
p {
  font-size: 1.6rem;
  width: 90%;
  margin: 1rem 0 0 0;
  text-decoration: none;
  color: rgb(70, 66, 66);
}

@keyframes button-rotate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

.button {
  display: flex;
  font-size: 1.8rem;
  background: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Nanum Gothic", sans-serif;
  color: #8380b6;
  margin: 2rem 0rem;
  width: 12rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #8380b6;
  color: white;
}

#hero {
  display: flex;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}

#hero img {
  height: 70rem;
  padding: 1rem;
  object-fit: cover;
}

.intro-text {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 100%;
  padding: 20rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  color: white;

  font-family: "Poiret One", cursive;
  text-align: left;
  letter-spacing: 10px;
  font-weight: bold;
}

.intro-text p {
  color: white;
  font-size: 1.9rem;
}

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: auto;
  background-color: #b5838d;
}

footer div {
  text-align: center;
}

.portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.image-caption {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  font-family: "Nanum Gothic", sans-serif;
  color: white;
}

.image-caption p {
  text-align: center;
  color: white;
  background: #baf2e9;
  background: #b5838d;
  width: 23%;
  border-radius: 5px;
  font-family: "Major Mono Display", monospace;
}

.image-caption img {
  margin: 0;
  padding: 0;
  object-fit: contain;
  height: 50%;
}

h3 {
  font-family: "Nanum Gothic", sans-serif;
}

footer div a img:hover {
  animation: rotate-img 0.2s linear;
}

@keyframes rotate-img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

/*RESPONSIVE CSS*/

/*Max width of 800px*/
@media (max-width: 800px) {
  h1 {
    font-size: 6rem;
    text-align: center;
  }
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #hero {
    flex-direction: column;
    align-content: center;
  }

  #hero img {
    height: 70rem;
    padding-top: 2rem;
    object-fit: cover;
  }
  #hero div {
    padding: 0;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #hero div p,
  #hero div h2 {
    text-align: center;
  }

  .portfolio {
    width: 90%;
  }
  .image-caption p {
    width: 35%;
  }
  .image-caption img {
    height: 30rem;
  }
}

/*Max Width of 500px*/
@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
    padding-bottom: 1rem;
  }
  nav {
    padding-bottom: 1rem;
  }

  #hero div {
    padding: 0;
    text-align: center;
  }
  #hero img {
    height: 50rem;
    object-fit: cover;
  }
  #hero div p {
    padding-bottom: 2rem;
  }
  .image-caption img {
    height: 20rem;
  }

  .image-caption p {
    width: 45%;
  }
}
